@model TravelTripProject.Models.Classes.Yorum
<div class="content-form">
    <h3>Bir Yorum Yapın</h3>
    <form method="post">
        <input type="hidden" placeholder="Kullanıcı Adı" name="BlogId" value="@ViewBag.blogId" />
        <input type="text" placeholder="Kullanıcı Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Email" name="Mail" required />
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Cinsiyet" id="inlineRadio1" value="true">
            <label class="form-check-label" for="inlineRadio1">Erkek</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="Cinsiyet" id="inlineRadio2" value="false">
            <label class="form-check-label" for="inlineRadio2">Kadın</label>
        </div>
        <textarea placeholder="Yorum" name="Yorumlar"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>

