@model List<TravelTripProject.Models.Classes.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model) {
    <tr>
        <td>@item.Baslik</td>
        <td>@item.Tarih.ToShortDateString()</td>
        <td><a href="/Admin/Delete/@item.BlogId" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/GetBlog/@item.BlogId" class="btn btn-warning">Güncelle</a></td>
        <td><a href="#" class="btn btn-default">Detaylar</a></td>
    </tr>
    }
</table>
<a href="/Admin/YeniBlog" class="btn btn-primary">Yeni Blog</a>
